@charset "UTF-8";

table {
    border: black 1px solid;
    width: 300px;
    height: 100px;
  }

  tr {
    border: black 1px solid;
    width: 100px;
    height: 50px;
  }

  td {
    border: black 1px solid;
    width: 100px;
    height: 50px;
  }

  #resultado{
      background-color: lightgray;
  }

  #naranja{
    background: rgb(243,128,39);
}
  #sim{
      background-color:rgb(135,135,135)
  }

  #simbolos {
    background-color: rgb(243,128,39);
  }

  button{
    width: 100%;
    height: 100%;
    text-align: center;
    border-collapse: collapse;
    background: transparent;
    
}
.display{
  text-align: end;
}
  
